# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
.idea
.code
.vscode
.tmp
*.log
credentials.json
.publish.cache
node_modules
.firebase
dist

# Local Netlify folder
.netlify
