.empty-section {
  // background: linear-gradient(to left, $grey, $black-gradient-dark);
  min-height: 100vh;
  padding: 10rem;
  text-align: center;
  background: $white-alt;
  h1 {
    padding-bottom: 4rem;
  }
}
